
 .header{
    
    height: 659px;
    border: 2px solid gray;
    background-image: url(/webb/Rectangle\ 417.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index: 1;
    color: white;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
}

.logo {
    
    font-weight: bold;
    color: white    ;
}

.nav {
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.nav a {
    margin-right: 20px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bolder;
}

.cta {
    background-color: #ffc107;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.cta:hover {
    background-color: #ff9800;
}

/* .header_function{
   
    height: 57px;
    margin-top: 23px;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.3);
}

.header_function span{
    color: black;
    font-weight: bolder;
    text-align:justify;
    border-color: aqua;
    display: inline-block;
    /* padding-top: 20px;
    padding-right: 200px;
    padding-left: 50px;
    
    
}

.save_life{
    background-color: #EEB506;
    border-radius: 2px;
    display: inline-block;
    width: 186px;
    height: 49px;
    left: 25px;
    text-align: left;
} */

.header_content{
    padding-left: 160px;
    padding-top: 180px;
    
    
} 

.find_friend_image{
    margin-top: 76px;
    margin-left: 350px;
    width: 200px;
    height: 200px;
}
.help_us{
    margin-top: 150px;
    display: flex;
    justify-content: center; /* canh giữa theo chiều ngang */
    align-items: center; /* canh giữa theo chiều dọc */
}

.in4_help_us{
    margin-left: 20px;
    /* height: 300px;
    margin-left: 171px;
    display: inline-block; 
    text-align: center;
    position: absolute;
    left: 510px;
    margin-top: 350px; */
}

.yes_fund_help_us{
    
    /* text-align: center;
    margin-top: 28px;
    margin-left: 50px;
    background-color: #EEB506;
    border-radius: 50px;
    width: 260px;
    height: 54px; */
}

.img_help_us{
    /* width: 643px;
    height: 690px;
    margin-top: 152px; */
    max-width: 100%;
}

.homepage_body_end{
    
    margin-top: 200px;
}

.pets_available{
  
    text-align: center;
    color: #1509A4;
    font-size: 48px;   
}

.img_pets{
    display: flex;
    justify-content: space-between;
    
    


}

.in4_pets{
    border: 2px solid green ;
    border-radius: 25px;
    width: 256px;
    height: 320px;
}

.footer{
    border: 2px solid yellow;
    margin-top: 250px;
    height: 717px;
    background-color: #FFBD00;
    padding: 0px 80px 0px 80px;
}

.footer_in4{
    /* height: 150px; */
    display: flex;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

.in4_us{
    font-size: 20px;
   
    display: inline;
    margin-top: 20px;
    display: inline-block;
    


}

.about_us{
    font-size: 50px;
    /* margin-left: 900px; */
    color: #1509A4;
    
   

}

.footer_img{
    margin-top: 50px;
    color: #EEB506;  
    background-color:  #FFBD00;
    margin-left: 40px;

}

.footer_2{
    /*   */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.footer_2_img{
    /* width: 160px;
    height: 191px;
    display:;
    padding-top: 122px; */
    text-align: center;
}

address{
    /* display: inline-block;
    margin-left: 200px;
    padding-top: 0px; */
    text-align: center;
}

.footer_end_div{
    display: block;
    justify-content: space-between;
    align-items: center;
}

.sign_up_end_footer button{
    font-size: 40px;
    font-weight: bolder;
    border-radius: 50px;
    background-color: #EEB506;
    text-align: center;
}

.yes_fund_help_us button{
    font-size: 20px;
    font-weight: bolder;
    border-radius: 50px;
    background-color: #EEB506;
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
}










.we_have_50_pets{
    text-align: center;
    /* border: 2px solid red; */
    margin-top: 269px;
    padding-top: 0px;
    font-size: 40px;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.pets_50_div{
    /* border: 2px solid yellow; */
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 2px;
    justify-content: space-around;
    
   
    
    
}

.pets_50_in4{
    border: 2px solid green;
    width: 226px;
    height: 310px;
    border-radius: 20px;
    margin-left: 40px;
    margin-right: 80px;
    margin-bottom: 40px;
}

.pets_50_in4 span{
    padding-left: 80px;
    color: #9B6500;
    font-size: 24px;
    font-family: 'Be Vietnam Pro', sans-serif;

}

.show_more{
    width: 150px;
    height: 30px;
    background-color: #EEB506;
    border-radius: 50px;
    text-align: center;
    font-weight: bolder;
   margin-left: 612px;
   margin-top: 80px;
   padding-top: 15px;
}

.header_content span{
    font-size: 40px;
}






/* @media (max-width: 768px){
    .header2 {
        display: inline-block;
    }
}

@media (max-width: 540px) */


@media only screen and (max-width: 768px) {
    .header2 {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav {
        margin-top: 20px;
    }

    .nav a {
        display: block;
        margin-bottom: 10px;
    }

    .find_friend_image{
        margin-left: 100px;
    }

    .help_us{
        display: inline-block;
    }
    .in4_help_us{
        text-align: center;
    }

    .img_pets{
        display: block;
    }

    .in4_pets{
        margin: auto;
        margin-top: 30px;
    }

    .footer{
        height: fit-content;
    }

    .footer_img{
        display: block;
    }

}




@media only screen and (max-width: 540px){
    .nav a{
        font-size: 10px;
    }

    .header_content span {
        font-size: 20px;
    }

}











